a.navbar-brand{
  height: 50px;
  line-height: 46px;
}

th.w-25px{
  width: 25px;
}

.ta-center{
  text-align: center;
}

.icon{
  max-width: 16px;
}

.btn-outline-custom{
  border: 1px solid #c3c3c3 !important;
}

#addNewPhotosForm{
  display: none;
}